div.icon-column {
    text-align: center;
}

.subtitle {
    font-size: 20px;
    text-align: justify;
}

.dev-icon {
    height: 200px;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    text-align: center;
}

p.dev,
p.name {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.our-team {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-align:  center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-card {
    padding: 25px;
    margin: 2px;
    margin-bottom: 20px;
    color: #000000;
    background: #E3E3E3;
    border-radius: 5px;
    box-shadow: none;
}

.pic {
    width: 200px;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.dev {
    font-size: 30px;
    font-weight: bold;
}

.about-us {
    height: 740px;
}

.lina {
    width: 270px;
}

.icons-hero {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-link {
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: #000000;
    text-decoration: none;
}

p.collapsible-contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-link:hover {
    text-decoration: none;
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
    color: gray;
    margin: 10px;
}