@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Codystar);


body {
    font-family: 'Fjalla One', sans-serif;
}

.container {
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    display: block;
    position: absolute;
    max-width: 225px;
}

.button {
    float: left;
    position: relative;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    color: $red;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;

    span {
        transform: skew(-20deg);
        display: block;
        float: left;
        text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 42px;
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
}



.title-f {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;

    span {
        transform: skew(-20deg);
        display: block;
        float: left;
        text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
        min-width: 10px;
        min-height: 10px;
        position: relative;
    }
}

.title-f-1 {
    color: #e55643;
}

.title-f-2 {
    color: #2b9f5e;
}

.title-f-3 {
    color: #f1c83c;
}




