body {
    padding: 16px;
    font-size: 13px;
    background-image: url("../images/spider.png");
    background-attachment: fixed;
    background-size: 120%;
}


p, .home-paragraph {
    background: transparent;
    font-family: 'Roboto Mono', monospace;
    padding-left: 50px;
    padding-right: 50px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    float: left;
    text-align: justify;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

.animated {
    float: left;
}


#cube div {
    overflow: hidden;
    background: black;
    color: #fff;
    text-align: center;
    font-size: 25pt;
}

.EightLAnimation {
}


#middle {
    color: #fff;
    transform: translate3d(0, 0, 400px);
    -webkit-transform: translate3d(0, 0, 400px);
    overflow-y: scroll;
}

#back {
    background: #000;
    color: #fff;
}

#top {
    padding-top: 50px;
    color: #fff;
}

#bottom {
    color: #fff;
    background: #000;
}

#right {
    color: #fff;
    background: #000;
}

#left {
    color: #fff;
    background: #000;
}


.inner-body {
    overflow: scroll;
    background: inherit;
    width: 100%;
    height: 100%;
    font-size: 13px;
}

.logo {
    width: 15%;
    margin-top: 40px;
    margin-left: 43.5%;
}




/*// ----- svg animation 8L
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Codystar);



/*html,
body {
    //   height: 100%;
    // font-weight: 800;
}

// body{
//   background: #030321;
//   font-family: Arial;
// }
*/

svg {
    display: block;
    font: 3.5em 'Montserrat';
    margin: 0 auto;
    margin-left: 2px;
}

.text-copy {
    fill: #262626;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 7.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #D55F4B;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #2b9f5e;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #f1c83c;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #533d4a;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #000000;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}



/*// ----- cool text right*/

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);


span {
    transform: skew(-40deg);
    display: block;
    float: left;
    text-shadow: #ffffff 0.5px 0.5px, #ffffff 1px 1px, #ffffff 2px 2px, #ffffff 3px 3px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    margin: 0;
    line-height: 40px;
    letter-spacing: 2px;
}

section.container-contact {
    background-color: red;
}

.title-f {
    transform: translateX(-50%) rotate(-30deg);
    display: block;
    font-size: 50px;
    float: left;
    width: 550px;
    left: 50%;
    position: relative;
    line-height: 60px;
}

span {
    transform: skew(-40deg);
    display: block;
    float: left;
    text-shadow: #515151 1px 1px, #515151 2px 2px, #515151 3px 3px, #515151 4px 4px, #515151 5px 5px, #515151 6px 6px;
    min-width: 20px;
    min-height: 10px;
    position: relative;
}

.line-one a {
    margin-top: 20px;
    color: #D55F4B;
}

.line-two a {
    color: #2b9f5e;
}

.line-three a {
    color: #f1c83c;
}

div .yellow {
    background-color: yellow;
}

.lina {
    width: 50%;
    margin-left: 22%;
    margin-top: 100px;
}

.alex {
    width: 22%;
    margin-left: 39%;
    margin-top: 100px;
}

p.bio {
    width: 87%;
    margin-top: 15px;
}


ol,
ul {
    list-style: web;
    position: absolute;
}

.box-nav {
    width: 50px;
    background: transparent;
    border: none;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.page-nav {
    background-color: #000000;
    margin: -17px;
    padding: 10px;
    width: 37px;
    height: 100vw;
    position: absolute;
}

.name {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: -65px;
}

.contact-us {
    padding-top: 137px;
    padding-bottom: 5px;
}

a.link {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    position: relative;
    float: left;
    margin-left: 46.5%;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
}

.box-nav:focus,
.box-nav:active:focus {
    outline: none;
}

.box-nav:focus {
    text-decoration: none;
}

.box-nav:hover {
    text-decoration: none;
}

.fa {
    margin-right: auto;
    color: white;
    text-align: center;
}

.nav-text {
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 0px;
    width: 187px;
    color:  black;
    word-wrap: normal;
    position:  absolute;
    overflow: unset;
    margin-top: 0px;
    font-size: 20px
    margin-left: 250px;
}

p.nav-icon {
    padding-right: 0px;
    color: #FFFFFF;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-delay: 0.1s;
    transition-property: width;
    transition-duration: 2s;
}

p.nav-icon:hover {
    color: #000000;
}








